[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
seeds = true

[programs.localnet]
settlement_engine = "7wrjbU1NbVtUCUGP1obi3aiT6QrjXZnH5XJDXMsKtkPG"

[programs.devnet]
settlement_engine = "7wrjbU1NbVtUCUGP1obi3aiT6QrjXZnH5XJDXMsKtkPG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
